.themeButton {
  background: var(--DarkMode-Button);
}

.nav {
  color: var(--DarkMode-Text);
}

.li:after {
  background-color: var(--DarkMode-Text);
}

.presentation {
  background: #221442;
  background-image: url(/background-dark.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}

.h1 {
  color: var(--DarkMode-Text);
}

.h2 {
  color: var(--DarkMode-Text);
}

.aboutMe {
  color: var(--DarkMode-Text);
}

.projects {
  background: #221442;
}

.sectionTitle {
  color: var(--DarkMode-Text);
}

.project {
  /* Para lazyload */
  background-color: var(--Dark-Transparent);
}

.projectName {
  color: var(--DarkMode-Text);
}

.projectDescription {
  color: var(--DarkMode-Text);
}

.otherProjects {
  color: var(--DarkMode-Text);
}

.technologies {
  background: #221442;
}

.technology {
  background-color: #ffffff;
}

.contact {
  color: var(--DarkMode-Text);
}

.social div {
  display: flex;
  gap: 20px;
}

.downloadCV {
  color: var(--DarkMode-Text);
}

.background {
  background: #221442;
  background-image: url(/end-background-dark.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}