.themeButton {
  background: var(--LightMode-Button);
}

.nav {
  color: var(--LightMode-Text);
}

.li:after {
  background-color: var(--LightMode-Text);
}

.presentation {
  background: #e4d3da;
  background-image: url(/background-light.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
}

.h1 {
  color: var(--LightMode-Text);
}

.h2 {
  color: var(--LightMode-Text);
}

.projects {
  background: #e4d3da;
}

.sectionTitle {
  color: var(--LightMode-Text);
}

.project {
  background-color: var(--Light-Transparent);
}

.projectName {
  color: var(--LightMode-Text);
}

.projectDescription {
  color: var(--LightMode-Text);
}

.technologies {
  background: #e4d3da;
}

.technology {
  background-color: var(--Light-Transparent);
}

.social div {
  display: flex;
  gap: 20px;
}

.downloadCV {
  color: var(--LightMode-Text);
}

.background {
  background: #e4d3da;
  background-image: url(/end-background-light.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}