:root {
  --Font-Size: 32px;
  --LightMode-Text: #3a3a3a;
  --DarkMode-Text: #fff;

  --LightMode-Button: #221442;
  --DarkMode-Button: #efccdb;

  --Section-Padding: 10vh 20vw;

  --Light-Transparent: #ffffff8b;
  --Dark-Transparent: #0000008b;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: var(--Font-Size);
  max-width: 100vw;
  overflow-x: hidden;
}

a,
ul,
ol,
li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.presentation {
  height: 100vh;
  margin: auto;
  padding-top: 100px;

  display: flex;
  flex-direction: column;


  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: background-color 0.5s ease;
}

.aboutMe {
  font-size: 0.5rem;
  max-width: 700px;
  line-height: 1.5;
  margin-top: 30px;
}

.aboutMe span {
  font-weight: 700;
}

.aboutMe--Container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.themeButton {
  height: 50px;
  width: 50px;

  position: absolute;
  right: 60px;
  top: 60px;

  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 1s ease;
  border: 2px solid #ffffff;
  z-index: 999;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px;
}

.nav {
  width: 100%;
  font-size: .5rem;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.li {
  display: block;
  position: relative;
}

.li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.h1 {
  font-size: 1.7rem;
  padding-left: 10px;
  animation: slide-in 1s;
}

.h2 {
  font-size: 1rem;
  padding-left: 10px;
  animation: slide-in 1s;
}

.aboutMe {
  animation: slide-in 1.2s;
  padding: 0 10px;
}

.photoContainer {
  position: relative;

  width: 300px;
  height: 300px;
}

.photo {
  border: 3px solid #000000;
  animation: slide-in 1.5s;
  border-radius: 100%;
}

.projects {
  height: fit-content;
  padding: 100px 10px;
  transition: background-color 0.5s ease;
}

.sectionTitle {
  font-size: 1.4rem;
  animation: slide-in 1s;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  gap: 40px;
}

.project {
  /* Para lazyload */
  display: flex;

  flex-direction: column;

  width: 90vw;
  height: fit-content;
  border-radius: 20px;
  align-items: center;

  overflow: hidden;

  padding: 20px;
}

.projectLeft {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectRight {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectInfo {
  display: flex;
  gap: 10px;
}

.projectName {
  font-size: 1.2rem;
  text-align: center;
  width: auto;

  margin-top: 10px;
}

.projectDataContainer {
  width: 100%;
}

.projectImage {
  border-radius: 15px;
}

.projectImageContainer {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.projectDescription {
  margin: 10px 0 0 0;
  font-size: 0.6rem;
  text-align: center;
  width: auto;
  font-weight: 300;
  text-align: left;
  padding: 15px;
}

.projectLinks {
  font-size: 0.6rem;
  text-align: center;
}

.otherProjects {
  margin-top: 40px;
  font-size: 0.7rem;
  text-align: center;
}

.technologies {
  height: fit-content;
  padding: 10vh 10px 0 10px;
  transition: background-color 0.5s ease;
}

.technologiesContainer {
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin-top: 20px;

  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 20px;

  justify-content: space-evenly;
}

.technology {
  border-radius: 25px;
  width: 130px;
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  height: fit-content;
  padding: 10vh 10px 0 20px;
  transition: background-color 0.5s ease;
}

.social {
  margin: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;

  font-size: .7rem;
}

.cv {
  padding: 100px 10px 20px 10px;
  transition: background-color 0.5s ease;
}

.downloadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.downloadCV {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  background: rgb(192, 129, 210);
  transition: background-color 0.5s ease;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}

form button {
  width: 370px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

form input {
  border: 2px solid transparent;
  margin: 5px 0 10px 10px;

  height: 32px;
  font-size: 0.7rem;
  padding: 20px;

  border-radius: 10px;
}

form input:hover {
  border: 2px solid #9a2aef;
}

form input:focus {
  border: 2px solid #9a2aef;
}

form textarea {
  margin: 10px 0;
  font-size: 0.6rem;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}


form div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 300px;
}

form button {
  background-color: #ebebeb;
  border: 1px solid black;
  font-size: 0.7rem;
  cursor: pointer;
}

form button:hover {
  background-color: #b7ebff;
}

form button:focus {
  background-color: #83dcff;
}

.snackbar {
  font-size: .5rem;
  color: green;
  background-color: green;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .h1 {
    font-size: 1.9rem;
  }

  .h2 {
    font-size: 1.2rem;
  }

  .projectImageContainer {
    width: 400px;
    height: 225px;
  }

  .photoContainer {
    width: 400px;
    height: 400px;
  }

  .aboutMe {
    font-size: 0.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .projectImageContainer {
    width: 500px;
    height: 282px;
  }

  .projectLeft {
    justify-content: left;
  }

  .projectRight {
    justify-content: right;
  }

  .nav {
    width: 50%;
  }

  .presentation {
    height: 90vh;
  }

  form textarea {
    width: 500px;
  }
}

@media only screen and (max-height: 860px) {
  .presentation {
    height: 1000px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .presentation {
    flex-direction: row;
  }

  .project {
    flex-direction: row;
  }

  .projectImageContainer {
    width: 800px;
    height: 282px;
  }

  .project {
    max-width: 55vw;
  }

  .projects {
    padding: 10vh 20vw;
  }

  .technologies {
    padding: 0 20vw 10vh 20vw;
  }

  .technologiesContainer {
    margin-top: 100px;
    row-gap: 60px;
  }

  .contact {
    padding: 10vh 20vw 0 20vw;
  }

  .cv {
    padding: 10vh 20vw;
  }

}

@media only screen and (min-width: 1700px) {
  .project {
    max-width: 45vw;
  }

  .projects {
    padding: 10vh 20vw;
  }
}